@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@400;500;600&display=swap');

/***********************
    GLOBAL VARS
************************/
:root {
    --main-color: rgb(240, 151, 206);
    --link-color: rgb(255, 255, 255);
    --nav-text-color: white;
    --constrast-main-color: #d469c2;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    /* Tipografía para el cuerpo */
}

/* Estilos para encabezados */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    /* Tipografía para encabezados */
}

.bg-main {
    background-color: var(--main-color);
    color: white;
}

.text-main {
    color: var(--main-color);
}

.navbar-brand {
    color: var(--nav-text-color) !important;
    font-weight: bolder;
}

.navbar-nav {
    --bs-nav-link-color: var(--link-color) !important;
}

.navbar {
    --bs-navbar-active-color: var(--nav-text-color) !important;
    --bs-nav-link-hover-color: var(--link-color);
}

.active,
.navbar .nav-item:hover {
    border-bottom: 1px solid white;
    font-weight: bolder;
}

/***************
    Carousel
****************/
.carousel-item img {
    width: 100% !important;
    height: 80vh;
}

.carousel ol {
    list-style-type: none;
}

.carousel-caption {
    color: black;
    font-size: x-large;
    font-weight: 500 !important;
}

.carousel-caption .text-white {
    font-size: xx-large;
}

/*****************
    Nav-Bar
****************/

.navbar-brand img {
    width: 15%;
}

/**********************
    FOOTER
***********************/
footer p {
    text-align: justify !important;
}

footer h5 {
    text-align: center !important;
}

/**********************
    SOCIAL-ICONS
**********************/
.instagram,
.facebook,
.whatsapp,
.telegram {
    font-size: 28px;
    margin-right: 5%;
}

.instagram:hover {
    background: linear-gradient(20deg, #FDCB58, #F77737, #D62976, #A56DB8, #4B69E3) !important;
    color: white !important;
}

.facebook:hover {
    background-color: #4B69E3;
    color: white;
}

.whatsapp:hover {
    background-color: #72d70f;
    color: white;
}

.telegram:hover {
    background-color: #6383ec;
    color: white;
}

/****************
    CONTACT-INFO
*****************/
.contact-info li a {
    font-size: 28px;
}

.contact-info {
    list-style-type: none;
    padding-left: 18%;
}

/***************
    OTHER
****************/
.pfx {
    position: fixed;
}

.map {
    text-decoration: none;
    color: var(--nav-text-color);
}

.text-large {
    font-size: large;
}

.text-x-large {
    font-size: x-large;
}

.text-xx-large {
    font-size: xx-large;
}

.text-bold {
    font-weight: 600;
}

.text-justify{
    text-align: justify;
}

.btn-back::before {
    content: "\f12f";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-precio {
    min-height: 15vh !important;
}

.card-precio:hover,
.card-precio:focus {
    background-color: var(--main-color);
    color: var(--nav-text-color);
    cursor: pointer;
}

.price-section{
    display: none;
}

#price{
    display: flex;
}

@media (min-width: 768px) {
    .card {
        min-height: 385px;
    }
}

@media (max-width: 1024px) {
    .navbar-collapse{
        flex-basis: 100% !important;
    }

    .navbar-brand {
        width: 50%;
    }

    .navbar-brand img {
        width: 20% !important;
    }
    
    .card-precio .card-body .card-title {
        position: relative !important;
        left: 35%;
        margin-top: 2%;
    }
}

@media (max-width: 768px) {
    .contact-info {
        padding-left: 0%;
    }

    .card-precio .card-body .card-title {
        position: relative !important;
        left: 30%;
        margin-top: 5%;
    }

    .carousel-item img {
        size-adjust: inherit;
        height: 400px;
    }
}

@media (max-width: 375px) {
    .navbar-brand img {
        width: 30% !important;
    }
}
