/***********************
    GLOBAL VARS
************************/
:root{
    --main-color: rgb(240, 151, 206);
    --link-color: rgb(255, 255, 255);
    --nav-text-color: white;
}
.bg-main{
    background-color: var(--main-color);
    color: white;
}
.navbar-brand {
    color: var(--nav-text-color) !important;
    font-weight: bolder;
}
.navbar-nav {
    --bs-nav-link-color: var(--link-color) !important;
}
.navbar {
    --bs-navbar-active-color: var(--nav-text-color) !important;
    --bs-nav-link-hover-color: var(--link-color);
}
.active, .nav-item:hover {
    border-bottom: 1px solid white;
    font-weight: bolder;
}
/***************
    Carousel
****************/
.carousel-item img {
    width: 100% !important;
    height: 80vh;
}

.carousel ol {
    list-style-type: none;
}
.carousel-caption {
    color: black;
    font-size: x-large;
}

/*****************
    Nav-Bar
****************/
@media (max-width: 440px) {
    .navbar-nav {
        width: 100%;
    }
}
/**********************
    FOOTER
***********************/
footer p{
    text-align: justify !important;
}
footer h5{
    text-align: center !important;
}

/***********************
    Catálogo
***********************/
.category{
    height: 15vh;
    background-size: cover;
    background-color: rgba(8, 8, 8, 0.432);
    background-blend-mode: darken;
    color: white;
    text-align: center;
}
.card-body{
    margin: 0%;
}
.card-title{
    margin-top: 0%;
}
.category:hover{
    cursor: pointer;
    background-color: rgba(8, 8, 8, 0.8);
    border: 1px solid rgb(223, 86, 109);
}
.category1{
    background-image: url('../img/catalogo/Uñas naturales con gel semipermanente/8af18e49a257d20e5fb65515a9892f10.jpg');
}
.category2{
    background-image: url('../img/catalogo/Con cintas/fcfdba8dcfa1c5bd411b1c210ae1a5f9.jpg');
}
.category3{
    background-image: url('../img/catalogo/Dibujos con gel semipermanente/u21-3.jpg');
}
.category4{
    background-image: url('../img/catalogo/Efecto aurora/inni-producenci-proszki-do-paznokci-allepaznokcie-glamour-effect-glamour-effect_side2.webp');
}
.category5{
    background-image: url('');
}
.category6{
    background-image: url('');
}
.category7{
    background-image: url('');
}
.category8{
    background-image: url('');
}
.category9{
    background-image: url('');
}
.category10{
    background-image: url('');
}
.category11{
    background-image: url('');
}
.category12{
    background-image: url('');
}
